/* font pairing 1 */
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700');
 body{
   font-size: 18px;
   font-family: 'Istok Web';
 }
 .post .post-text {
 	font-family: 'Istok Web';
 	font-size: 1.1em;
  font-weight: 400;
 }

 .post .post-info {
 	font-family: 'Istok Web';
 	font-size: 0.8em;

 	color: gray;
 }

 .post .post-author {
 	color: #527A79;
  font-style: italic;
}
 .post .post-date {
   font-style: italic;
 	font-weight: 200;
  color: #314147;
 }
